.container {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: repeat(10,1fr)
}

#navbar {
  grid-area: 1/1/span 1/span 5;

}

#sidebar {
  writing-mode: vertical-rl;
  grid-area: 2/1/span 8/span 1;
}

#title {
  grid-area: 2/2/span 1/span 4;
}


#content {
  grid-area: 3/2/span 7/span 4;
}

#footer {
  grid-area: 10/1/span 1/span 5;
}
